
<h3>Welcome to the publicly available "About Us" page.</h3>

<h1>What/why is this thing?</h1>
<p>I spent way too much time looking at ways to get a decent authentication/user system running with sinatra. There are some out there, but they all take a lot more thought and time to setup than I really wanted to spend. I just wanted a simple solution that I could start with and start focusing immediately on my actual app. 
</p>

<p>I eventually found <a href='http://bernardi.me/using-multiple-omniauth-providers-with-omniauth-identity-on-the-main-user-model/'>this</a> which built on <a href="http://railscasts.com/episodes/304-omniauth-identity?view=asciicast">this</a>.. and way down in the comments section I <strong>finally</strong> found Chandan Kumar's post that led me back to <a href='https://github.com/ch4nd4n/sinatra_omniauth_demo'>his sinatra clone of those oauth tutorials</a>. And it was awesome! but that took way too much work to get there.. and it was obviously not really intended for production. So I decided to try and turn the app into the thing which I was originally looking for.. a basic thing that can be used as a super quick starting point for a new app.
</p>

<p>So work commenced, and after awhile I realized I had something that might be useful to someone out there, or myself. There were way too many changes to just submit a pull request to the original.. so I abstracted my secrets into a config file and put it up here as is.</p>


<h1>What is different here compared to the original?</h1>
<ul>
<li>Upgraded bootstrap and jquery.</li>
<li>Added some basic configurations.</li>
<li>Converted to erb - Ok, this was totally not necessary.. I didn't originally plan on making this public or I might not have done it. I don't really have anything against HAML, ERB just always seemed more intuitive to me... anyway, the damage is done and I'm not converting it back.</li>
<li>The original was mostly compatable with multiple oauth providers, but there were a few bugs to work out for them to actually work. They basically work now.</li>
<li>Added more example pages and some snippets in the templates to show how to access user objects.</li>
<li>Multiple tweaks/bugfixes/feature updates.</li>
</ul>
