<fieldset>
  <legend>Don't have an account yet? <a href="/register">Create an account</a> or sign in with:</legend>

  <ul>
  <li><a href="/auth/facebook">facebook.com</a></li>
  <li><a href="/auth/github">github.com</a></li>
  <li><a href="/auth/twitter">twitter.com</a></li>
  <li><a href="/auth/google_oauth2">google.com</a></li>
    </ul>
</fieldset>